<?php
return [
    "sip2" => [
        // SIP server hostname or IP
        "server" => "__SIP_SERVER__",

        // SIP server port
        "port" => "__SIP_PORT__",

        // SIP user
        "login" => "__SIP_LOGIN__",

        // SIP user password
        "password" => "__SIP_PASSWORD__",

        // Library code - this is needed for checkout
        "library" => "__SIP_LIBRARY__",
    ],
];
